body {
  font-family: 'Spectral';
  font-size: 19px;
  text-align: center;
  color: orange;
  background-image: url("https://i.ytimg.com/vi/AtGTot98UAo/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


h1 {
  background-color: black;
  border-style: solid;
  border-width: thick;
  border-color: black;
  width: 300px;
  margin-left: 400px;
}

h2 {
  background-color: black;
  border-style: solid;
  border-width: thick;
  border-color: black;
  margin-bottom: 100px;

}

.profile img{
  height: 150px;
  width: 150px;
}

#output {
  position: absolute;
  top: 100px;
  left: 50px;
  background-color: black;
  width: 1000px;
  margin-top: 50px;
}

#calcs {
  position: absolute;
  top: 1100px;
  left: 100px;
  font-size: 30px;
  background-color: black;


}

#CLAC {
  height: 150px;
  width: 300px;
  font-family: 'Spectral';
  font-size: 29px;
  border-color: #040f75;
  border-style: solid;
  border-width: 10px;

}

#light-1 img {
  position: absolute;
  height: 900px;
  width: 600px;
  top: 50px;
  left: 250px;

}

#light-2 img {
  position: absolute;
  top: 150px;
  left: 310px;
  height: 650px;
  width: 500px;
  z-index: -1;
}

#exp {
  display: none;
}

#clac img{
 position: absolute;
 top: 230px;
 left: 360px;
 height: 500px;
 width: 400px;
 z-index: -6;
}



#arm1 img{
  position: absolute;
  top: 400px;
  left: 700px;
  height: 200px;
  width: 400px;
  z-index: 2;
}

#arm2 img{
  z-index: 2;
  position: absolute;
  top: 500px;
  left: 700px;
  height: 200px;
  width: 200px;
  transform: rotate(340deg);
}

#arm3 img {
  z-index: 0;
  position: absolute;
  top: 200px;
  left: 100px;
  height: 300px;
  width: 400px;
  transform: rotate(20deg);

}

#eye1 {
  position: absolute;
  left: 680px;
  top: 310px;
  z-index: 5;

}

#eye2 img{
  position: absolute;
  top: 200px;
  left: 400px;
  height: 100px;
  width: 300px;
}

 #eye3 {
   position: absolute;
   top: 500px;
   left: 480px;
 }

 #legs1 img{
   position: absolute;
   top: 720px;
   left: 300px;
   height: 300px;
   width: 500px;
   transform: rotate(220deg);
 }



 #mouth1 img{
   position: absolute;
   top: 350px;
   left: 450px;
   height: 100px;
   width: 200px;
 }

 #speech {
   background-color: black;
   position: absolute;
   top: 250px;
   left: 800px;
   border-style: solid;
   border-width: thick;
   border-color: black;
   border-radius: 200px;
 }
